{% extends 'layout.html' %}

{% block content %}
{% if messages %}
  {% for category, message in messages %}
    {% if category == 'repeat' %}
      <div class="alert alert-info  flashes" role="alert">
        {{ message }}
      </div>
    {% endif %}
    {% if category == 'success' %}
      <div class="alert alert-success flashes" role="alert">
        {{ message }}
      </div>
    {% endif %}
    {% if category == 'error' %}
      <div class="alert alert-danger flashes" role="alert">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="container col-9 mt-3 mb-1">
    <h1 class="display">Сайт: {{ url['name'] }}</h1>
    <table class="table table-hover table-bordered" data-test="url">
        <tr>
            <th>ID</th>
            <th>{{ url['id'] }}</th>
        </tr>
        <tr>
            <th>Имя</th>
            <th>{{ url['name'] }}</th>
        </tr>
        <tr>
            <th>Дата создания</th>
            <th>{{ url['created_at'] }}</th>
        </tr>
    </table>
</div>
<div class="container col-9 mt-5">
    <h2 class="display">Проверки</h2>
    <form action="{{ url_for('add_check', id=url['id']) }}"  method="post">
        <input class="btn btn-primary btn-sm fs-6 mt-2 mb-1"
               type="submit" value="Запустить проверку">
    </form>
    <table class="table table-hover table-bordered" data-test="checks">
        <thead>
        <tr>
            <th >ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
        </thead>
        <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check['id'] }}</td>
            <td>{{ check['status_code'] }}</td>
            <td>{{ check['h1'] }}</td>
            <td>{{ check['title'] }}</td>
            <td>{{ check['description'] }}</td>
            <td>{{ check['created_at'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
