{% extends 'layout.html' %}

{% block content %}
{% if repeat %}
<div class="alert alert-info" role="alert">
        Страница уже существует
</div>
{% endif %}
{% if add_new %}
<div class="alert alert-success" role="alert">
        Страница успешно добавлена
</div>
{% endif %}
<div class="container col-9 mt-3">
    <h1 class="display">Сайт: {{ url['name'] }}</h1>
    <table class="table table-hover table-bordered">
        <tr>
            <th class="col-3 fw-medium">ID</th>
            <th class="col-6  fw-medium">{{ url['id'] }}</th>
        </tr>
        <tr>
            <th class="fw-medium">Имя</th>
            <th class="fw-medium">{{ url['name'] }}</th>
        </tr>
        <tr>
            <th class="fw-medium">Дата создания</th>
            <th class="fw-medium">{{ url['created_at'] }}</th>
        </tr>
    </table>
    <h2 class="display mt-5">Проверки</h2>
    <button class="btn btn-primary btn-sm fs-6 mt-2" type="submit">Запустить проверку</button>
</div>
{% endblock %}
