{% extends 'layout.html' %}

{% block content %}
<div class="container col-9 mt-3">
    <h1 class="display">Сайты</h1>
    <table class="table table-hover table-bordered" data-test="urls">
        <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-3">Имя</th>
            <th class="col-5">Последняя проверка</th>
            <th class="col-3">Код ответа</th>
        </tr>
        </thead>
        <tbody>
        {% for row in content %}
        <tr class="">
            <td class="">{{ row['id_url'] }}</td>
            <td class=""><a class="" href="/urls/{{ row['id_url'] }}">{{ row['name_url'] }}</a></td>
            <td class="">{{ row['last_created_at'] }}</td>
            <td class="">{{ row['last_status_code'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}